body {
    background-color: black;
    color: lime;
    font-family: monospace;
    text-align: center;
}

#container {
    width: 450px;
    margin: 50px auto;
    border: 2px solid lime;
    padding: 20px;
    border-radius: 10px;
}

/* POPUP */
#popup {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#popup-content {
    background: black;
    border: 2px solid lime;
    padding: 30px;
    border-radius: 10px;
}

/* FORM */
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid lime;
    background-color: black;
    color: lime;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: green;
}

/* Canvas gioco */
#game {
    display: none;
    border: none;
    margin-top: 20px;
}
